<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta>
	<title>Inventry Homepage</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container text-center">
		<div>
			<h1>welcome to inventry app</h1>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/categories}">List categories</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/categories/new}">Create categories</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/products}">List products</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/products/new}">Create Product</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/brands}">List Brands</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/brands/new}">Create Brand</a>
		</div>
	</div>
</body>

</html>